flake8==3.5.0
jsonpointer==1.14
Sphinx==1.6.5
sphinx-rtd-theme==0.2.4
# recommonmark commit pinned from master branch
recommonmark==0.4.0
-e git+https://github.com/OpenDataServices/sphinxcontrib-jsonschema.git@b7332e8fd5c788ee59b983396102ddc38967a3d0#egg=sphinxcontrib_jsonschema
-e .

## The following requirements were added by pip freeze:
alabaster==0.7.10
Babel==2.5.1
certifi==2017.11.5
chardet==3.0.4
CommonMark==0.5.4
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2==2.10
jsonref==0.1
MarkupSafe==1.0
mccabe==0.6.1
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pytz==2017.3
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
sphinxcontrib-websupport==1.0.1
urllib3==1.22
